@import "~bootstrap/scss/bootstrap-reboot.scss";
@import "~bootstrap/scss/_mixins.scss";
@import "~bootstrap/scss/utilities/_screenreaders.scss";
@import "shared/styles/colors";

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

@media (min-width: 768px) {
  .mobile-only {
    display: none
  }
}

.btn {
  display: inline-block;
  border-radius: 5px;
  background: linear-gradient($brand-color-light, lighten($brand-color, 10%));
  color: $text-color;
  font-size: 16px;
  padding: 5px 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  &:hover {
    color: $text-color;
    text-decoration: none;
  }
  &:active {
    background: linear-gradient(lighten($brand-color, 10%), $brand-color-light);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
  }
}
