$brand-color: #5f7;
$brand-color-light: lighten($brand-color, 20%);
$brand-color-dark: darken($brand-color, 20%);

$text-color: #333;
$text-light: #555;
$text-inverse: #aaa;
$text-inverse-light: #ccc;
