@import '../styles/colors.scss';
.card {
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  @media (min-width: 768px) {
    width: 20em;
  }
  .card-header {
    padding: 5px 10px;
    text-align: center;
    background-color: $brand-color-light;
  }
  .card-body {
    padding: 5px 20px;
  }
  & + & {
    margin-top: 20px;
    @media (min-width: 768px) {
      margin-top: 0;
      margin-left: 20px;
    }
  }
}

.card-deck {
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
  }
}
