@import '../styles/colors.scss';
.page-header {
  padding: 1px 20px;
  display: flex;
  align-items: center;
  background-color: $brand-color;
  h1 {
    padding: 0 40px 0 0;
  }
}

.page-body {
  padding: 20px;
}

.btn-link {
  border: 0;
  background-color: inherit;
  svg {
    margin-top: -4px;
  }
}

.page-navigation {
  position: fixed;
  top: 0;
  left: calc(-80vw - 3px);
  transition: left 0.25s ease-out;
  &.show {
    left: 0;
  }
  background-color: $text-color;
  height: 100vh;
  width: 80vw;
  box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  a, .btn {
    background: 0;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
    cursor: pointer;
    text-align: left;
    display: block;
    padding: 20px 20px;
    color: $text-inverse;
    &:hover {
      text-decoration: underline;
    }
    &.active {
      background-color: #ccc;
      color: $text-light;
    }
    &.logout {
      margin-top: auto;
    }
  }
  z-index: 2;

  @media (min-width: 768px) {
    position: static;
    background-color: inherit;
    height: auto;
    box-shadow: none;
    flex-direction: row;
    a, .btn {
      width: auto;
      background-color: inherit;
      padding-bottom: 19px;
      color: $text-light;
      &:hover {
        background-color: $brand-color-light;
      }
      &.active {
        background-color: $brand-color-light;
      }
      &.logout {
        margin-left: auto;
      }
    }
  }
}

.nav-overlay {
  z-index: 1;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
}
